.buttonGroup{
    display: flex;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button{
    height: 35px;
    width: 90px;
    background-color: rgb(6, 185, 87);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transform: scale(0.9);
}

.button:hover{
    background-color: rgb(197, 127, 23);
    color: rgb(242, 247, 247);
    scale: 1.2;
}


